<%- include('partials/header') %>

<h1>Buk bawk bakok!</h1>
<% if (clucks) { %>
  <% for (let cluck of clucks) { %>
    <div class="border border-info m-5 p-5" style="border-radius: 80px 30px 1px 30px">
      <div class="row align-items-center">
        <img src="/memoji.jpg" class="rounded-circle" style="max-width: 70px">
        <p class="container fluid ml-auto"><%= cluck.content %></p>
        <% if (cluck.imageUrl) { %>
          <img class="img-thumbnail rounded mx-auto w-25" src="<%=cluck.imageUrl%>">
        <% } %>
      </div>
      <div class="d-flex">
      
        <p class="font-italic text-center ml-auto">- Post by <b><%= cluck.username %></b> created <%= moment(cluck.createdAt).fromNow() %></p>
        <a href="/clucks/<%= cluck.id %>" class="btn btn-info m-4">More Info</a>
      </div>
    </div>
  <% } %>
<% } %>

<%- include('partials/footer') %>